<div class="global-loader" *ngIf="servGlobal.showLoader">
  <div class="lds-heart"><div></div></div>
  <span>{{ servGlobal.showLoaderMsg }}</span>
</div>
<app-global-sidebar></app-global-sidebar>
<main
  class="main-content position-relative max-height-vh-100 h-100 border-radius-lg"
>
  <app-global-header></app-global-header>
  <div class="container-fluid py-4">
    <div class="main-panel">
      <router-outlet></router-outlet>
    </div>
    <!-- <app-global-content></app-global-content> -->
    <app-global-footer></app-global-footer>
  </div>
</main>
