@font-face {
    font-family: "Lemon";
    src: url(../Fonts/Lemon\ Days.ttf);
}

html, body {
    margin: 0;
}

body {
    background: #d2750b;
    color: #fff;
    padding: 0;
    font-family: 'Lemon';
}

.main-container {
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

.start-menu {
    width: 500px;
    margin: 0 auto;
}

.start-menu > .title {
    font-size: 60px;
    padding-left: 7px;
    margin-left: 2px;
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 27px;
    background-image: url(../Images/titleback2.gif);
    text-shadow: 2px 2px rebeccapurple, 2px -2px, -1px -1px rebeccapurple, 4px 4px 6px black;
}

.start-menu button {
    margin: 50px auto;
    font-size: 22px;
    font-family: 'Lemon';
    width: 150px;
    display: block;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    text-decoration: none;
    line-height: 60px;
    text-align: center;
    background-color: maroon;   
    color: rgba(255, 255, 255, 0.678);
    transition: opacity 0.3s ease 0s;
}

.start-menu button:hover{
    background-color: #e91e1e;
    color: white;
}

.dificultad {
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
    text-shadow: 2px 2px orangered, -2px 2px, -2px 3px 6px black;
}

.dif {
    width: 150px;
    padding: 10px 25px;
    text-align: center;
    margin: 10px auto;
    background-color: rebeccapurple;
    border-radius: 8px;
    cursor: pointer;
}

.dif:hover{
    background-color: #e91e1e;
    color: white;
}

.container {
    display: none;
    width: 500px;
    margin: 0px auto;
}

.container > .title {
    font-size: 60px;
    padding-left: 7px;
    margin-left: 2px;
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 27px;
    background-image: url(../Images/titleback2.gif);
    text-shadow: 2px 2px rebeccapurple, 2px -2px, -1px -1px rebeccapurple, 4px 4px 6px black;
}

.marcador {
    margin: 20px 0 10px;
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
}

.marcador button {
    font-size: 22px;
    font-family: 'Lemon';
    width: 150px;
    display: block;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    text-decoration: none;
    line-height: 60px;
    text-align: center;
    background-color: #e91e63;   
    color: rgba(255, 255, 255, 0.678);
    transition: opacity 0.3s ease 0s;
}

.marcador button:hover{
    background-color: #e91e1e;
    color: white;
}

.time-container {
    background: #e91e63;
    display: flex;
    margin-left: 10px;
    padding-left: 15px;
    border-radius: 8px;
}

.time-container .time {
    position: relative;
    display: inline-block;
    text-align: right;
    width: 97px;
    padding: 13px 20px 0px 10px;
}

.time .title {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;
    color: rgb(255, 255, 255);
}

.time .time-content {
    font-size: 21px;
    line-height: 25px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.time-content p{
    margin: 0;
}

.game-container {
    margin: 5px 0px;
    grid-template-columns: auto auto auto auto;
    display: grid;
    position: relative;
    padding: 15px;
    cursor: default;
    background: #d2750b;
    border-radius: 12px;
    width: 470px;
    height: 470px;
}

.game-container .cell-container {
    width: 106.25px;
    height: 106.25px;
    margin-right: 15px;
    border-radius: 10px;
    background-color: #b6023e;
}

.game-container .cell-container.empty .number-container{
    display: none;
}

.cell-container .number-container {
    display: flex;
    border-radius: 10px;
    background: rgb(106, 198, 184);
    cursor: pointer;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    z-index: 10;
    font-size: 75px;
    width: 107px;
    transition: transform 0.3s ease 0s;
    height: 107px;
    transform: translate3d(0px, 0px, 0px);
    text-shadow: 5px 3px rgb(73, 149, 145), -2px -2px rgb(73, 149, 145);
}

.end-menu {
    display: none;
    margin-top: 45vh;
}

.end-content {
    width: fit-content;
    margin: auto;
    text-align: center;
}

.end-content .title {
    font-size: 40px;
    text-shadow: 2px 2px #009688, -2px 2px, -2px 3px 6px black;
}

.end-content button {
    font-size: 22px;
    font-family: 'Lemon';
    width: 150px;
    display: block;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    text-decoration: none;
    line-height: 60px;
    text-align: center;
    background-color: maroon;   
    color: rgba(255, 255, 255, 0.678);
    transition: opacity 0.3s ease 0s;
    margin: 25px auto 0;
}

.end-content button:hover{
    background-color: #e91e1e;
    color: white;
}

@media (max-width: 520px){
    .container {
        width: 291px;
        margin: 0px auto;
    }

    .start-menu > .title {
        font-size: 44px;
        margin-left: -3px;
        margin-top: 5px;
    }

    .container > .title {
        font-size: 44px;
        margin-left: -3px;
        margin-top: 5px;
    }

    .game-container {
        width: 270px;
        height: 292px;
    }

    .game-container .cell-container {
        width: 57.5px;
        height: 57.5px;
        margin-right: 10px;
    }
    
    .cell-container .number-container {
        width: 58px;
        height: 58px;
        line-height: 67.5px;
        font-size: 45px;
        padding-top: 9px;
        padding-left: 0px;
        border-radius: 5px;
    }
}