.navbar-nav .nav-item .nav-link {
  cursor: pointer;
}


.navbar-nav .nav-item .nav-link .icon > i {
  color: black;
}

.navbar-nav .nav-item .nav-link.active .icon > i {
  color: rgb(255, 255, 255);
}

#sidenav-collapse-main {
  height: 100vh;
}
